
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="header-text">
                    CARS FINDER
                </div>
                <div class="body-container">
                    <div *ngIf="state == 'RUN_BACKEND_HELPER'">
                        <p style="font-size: 20px;">
                            It seems there is no backend api running on localhost:3000. Please proceed to the following repo and follow the instructions.
                        </p>
                        <div style="text-align: center; font-size: 30px;">
                            <a href="https://github.com/Herber230/entifix-cars-app">entifix-cars-app</a>
                        </div>
                    </div>
                    <div *ngIf="state == 'FILL_DATA_HELPER'">
                        <p style="font-size: 20px;">
                            It seems there is no data loaded. With the button below you can load some rectods to test.
                        </p>
                        <div style="text-align: center; font-size: 30px;">
                            <button type="button" class="btn btn-primary" (click)="createExampleRecords()">Load Data</button>
                        </div>
                    </div>
                    <div *ngIf="state == 'SEARCH_HELPER'">
                        <div *ngIf="!existResults">
                            <div class="body-text">
                                Press CTRL + F to search some cars
                            </div>
                        </div>
                        <div *ngIf="existResults">
                            <div *ngFor="let result of searchCarsResult">
                                <br/>          
                                <p-panel>
                                    <p-header>
                                        <div class="panel-header-text">CAR</div>
                                    </p-header>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Brand</td>
                                                <td><strong>{{result.$brand}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Line Name</td>
                                                <td><strong>{{result.lineName}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Year</td>
                                                <td><strong>{{result.year}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Color</td>
                                                <td><strong>{{result.color}}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p-footer>
                                        <div style="text-align: center;">
                                            <button type="button" class="btn btn-primary btn-sm">Ver</button>
                                        </div>
                                    </p-footer>
                                </p-panel>
                                <br/>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>




